@{
    ViewData["Title"] = "Benefits";
}

<div class="row container-benefits" ng-app="BenefitsApp" ng-controller="BenefitsController">

    <h1>Max Otto's Benefits</h1>

    <div class="col-md-3 content-panel" style="min-height: 750px;">
        <div style="margin: 0 0 50px 0;">
            <img class="avatar" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/user-male-circle-blue-512.png" />
        </div>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
    </div>

    <div class="row">

        <div class="col-md-7 content-panel">

            <table class="table table-bordered table-hover">

                <thead>

                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birthday</th>
                        <th>Relation</th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>

                    <tr ng-repeat="person in people" ng-cloak>
                        <td><input class="form-control" ng-model="person.firstName" /></td>
                        <td><input class="form-control" ng-model="person.lastName" /></td>
                        <td width="125px;">
                            {{ person.birthday | date:'MM/dd/yyyy' }}
                            <span class="glyphicon glyphicon-calendar"></span>
                        </td>
                        <td>
                            <div class="dropdown" style="width: 100px;">
                                <button style="width: 100%;" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ person.relation }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" ng-click="updateRelation(person, 'Employee')">Employee</a></li>
                                    <li><a href="#" ng-click="updateRelation(person, 'Spouse')">Spouse</a></li>
                                    <li><a href="#" ng-click="updateRelation(person, 'Dependent')">Dependent</a></li>
                                </ul>
                            </div>
                        </td>
                        <td><button class="btn btn-primary" ng-click="remove($index)">Remove</button></td>
                    </tr>

                </tbody>

            </table>

            <div>
                <a class="btn btn-default btn-primary" ng-click="add()" style="float: left;">Add Family Member</a>
                <a class="btn btn-default btn-primary" ng-disabled="!isValid()" ng-click="calculate()" style="float: right;">Calculate Benefit Cost</a>
            </div>

        </div>

        <div class="row">

            <div class="col-md-7 content-panel animate-show animate-hide" ng-cloak ng-show="peopleCosts !== null">

                <h3>Your Benefits</h3>

                <div>

                    <table class="table table-bordered table-hover">

                        <thead>

                            <tr>
                                <th>Individual</th>
                                <th width="150px;">Cost</th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr ng-repeat="person in peopleCosts" ng-cloak>
                                <td>{{ person.firstName }}</td>
                                <td>{{ person.cost | currency }}</td>
                            </tr>

                        </tbody>

                    </table>

                    <table style="float: right;margin-right: 60px;">

                        <tr>
                            <td align="right" class="cost-footer"><strong><i>Paycheck Cost:</i></strong></td>
                            <td class="cost-footer-amount">{{ paycheckCost | currency }}</td>
                        </tr>

                        <tr>
                            <td align="right" class="cost-footer"><strong><i>Monthly Cost:</i></strong></td>
                            <td class="cost-footer-amount">{{ monthlyCost | currency }}</td>
                        </tr>

                        <tr>
                            <td align="right" class="cost-footer"><strong><i>Annual Cost:</i></strong></td>
                            <td class="cost-footer-amount">{{ annualCost | currency }}</td>
                        </tr>

                        <tr>
                            <td align="right" class="cost-footer"><strong><i>Annual Salary minus deductions:</i></strong></td>
                            <td class="cost-footer-amount">{{ annualSalaryAfterDeductions | currency }}</td>
                        </tr>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>
